

.container {
  display:  flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 400px;
  font-family: helvetica
}

.squares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  height: 90px;
  width: 90px
}

.numbers {
  font-size: 30px
}

.DHMS {
  font-size: 15px;
  color: gray
}
